@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background: rgb(20,69,171);
    background: linear-gradient(90deg, rgba(20,69,171,1) 10%, rgba(0,0,0,1) 50%, rgba(20,69,171,1) 90%);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    
}
h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
}
#board{
    flex-direction: column;
    border: 3px blue outset;
    border-radius: 7px;
    background-color: blue;
    opacity:calc(0.8);
    box-shadow: 90px 30px 30px rgba(0, 0, 0);
}
#gameStatus{
    color: white;
    text-align: center;
}
#gameEnd {
    text-align: center;
    display: none;
}
.row{
    display: flex;
    flex:1;
}
.cell{
    height: 11vh;
    width: 5vw;
    flex:1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
	text-align: center;
    border: 2px blue solid;
    border-radius: 80px;
    background-color: white;
    cursor: pointer;
}
.cell:hover{
    background-color: blue;
}
#reloadGame{
    border: 2px white;
    border-radius: 10px;
    background-color: white;
    height: 6vh;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
#reloadGameCpu{
    border: 2px white;
    border-radius: 10px;
    background-color: white;
    height: 6vh;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
#reloadGame:hover{
    background-color: blue;
}
#reloadGameCpu:hover{
    background-color: blue;
}
@media (max-width: 1000px) { 
    .cell {
       height: 6vh;
    }   
   
   }


